# Premiers pas en Python

In [189]:
from statistics import mean

In [1]:
prix = 4.5
prix = prix * 0.5
prix

2.25

In [2]:
total = 7 * prix
total

15.75

In [3]:
prix

2.25

## Nombres flottants (IEEE 754)

In [5]:
bigDistance = 1E308
bigDistance

1e+308

In [6]:
10*bigDistance

inf

In [8]:
prix = 0.1
prix, 2*prix, 3*prix

(0.1, 0.2, 0.30000000000000004)

In [14]:
type(prix)

float

## Nombres entiers

In [10]:
nombrePersonnes = 7
nombrePersonnes

7

In [12]:
nombreAtomes = 12000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004
nombreAtomes + 1

12000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005

In [13]:
type(nombreAtomes)

int

## Opérations sur les nombres

In [15]:
nombrePersonnes + 2

9

In [16]:
nombrePersonnes - 1

6

In [17]:
nombrePersonnes * 2

14

In [18]:
nombrePersonnes / 2

3.5

In [19]:
nombrePersonnes // 2

3

In [20]:
nombrePersonnes % 2

1

In [21]:
2**16

65536

In [22]:
nombrePersonnes += 2
nombrePersonnes

9

## Texte

In [23]:
ville = 'Toulouse'
ville

'Toulouse'

In [24]:
mot = "aujourd'hui"
mot

"aujourd'hui"

In [25]:
phrase = "aujourd'hui je dis \"Il fait beau\""
phrase

'aujourd\'hui je dis "Il fait beau"'

In [26]:
phrase + ' à ' + ville

'aujourd\'hui je dis "Il fait beau" à Toulouse'

In [28]:
type(ville)

str

In [31]:
str(nombrePersonnes) + ' personnes à ' + ville

'9 personnes à Toulouse'

In [36]:
# chaîne formatée (python 3.6)
f'{nombrePersonnes} personnes à {ville}'

'9 personnes à Toulouse'

In [37]:
'{} personnes à {}'.format(nombrePersonnes, ville)

'9 personnes à Toulouse'

In [33]:
float('nan')

nan

In [35]:
# conversion impossible => ValueError
# float('beaucoup')

In [38]:
len(ville)

8

In [40]:
ville[3]

'l'

In [42]:
ville[2:6]

'ulou'

In [45]:
ville[6:]

'se'

In [46]:
ville[:2]

'To'

In [47]:
ville2 = 'Pau'
ville2

'Pau'

In [53]:
ville2[-2:], ville[-2:]

('au', 'se')

In [54]:
ville[:6:2]

'Tuo'

In [57]:
ville[1::2], ville[::2]

('olue', 'Tuos')

In [60]:
ville[::-1]

'esuoluoT'

In [61]:
ville.index('s')

6

In [67]:
ville.upper(), ville.lower(), ville.casefold(), ville.capitalize(), ville.title()

('TOULOUSE', 'toulouse', 'toulouse', 'Toulouse', 'Toulouse')

In [69]:
phrase.title(), phrase.capitalize()

('Aujourd\'Hui Je Dis "Il Fait Beau"', 'Aujourd\'hui je dis "il fait beau"')

In [71]:
nomSaisi = ' 	Colin	 '

In [72]:
nomSaisi.strip()

'Colin'

In [74]:
# tous les caractères unicode sont acceptés (UTF-8)
ville3 = '東京'
ville3

'東京'

## Booléens et comparaisons

In [76]:
#  <  <=  >  >=
nombrePersonnes < 10

True

In [77]:
nombrePersonnes == 6

False

In [80]:
nombrePersonnes != 6

True

In [78]:
True, False

(True, False)

In [82]:
# and  or   not
nombrePersonnes != 6  and  len(ville) < 10

True

In [83]:
not True

False

## Collections : sequence, dictionnary ; iterable ; generator

In [100]:
villes = ['Toulouse', 'Pau', 'Paris', 'Montpellier','Bordeaux', 'Fort-de-France']
villes

['Toulouse', 'Pau', 'Paris', 'Montpellier', 'Bordeaux', 'Fort-de-France']

In [101]:
type(villes)

list

In [102]:
len(villes)

6

In [103]:
villes[-1]

'Fort-de-France'

In [104]:
villes[:2]

['Toulouse', 'Pau']

In [105]:
villes.append('Limoges')

In [106]:
res = villes.append('Poitiers')

In [107]:
res is None

True

In [108]:
villes

['Toulouse',
 'Pau',
 'Paris',
 'Montpellier',
 'Bordeaux',
 'Fort-de-France',
 'Limoges',
 'Poitiers']

In [109]:
villes[1] = 'Bayonne'
villes

['Toulouse',
 'Bayonne',
 'Paris',
 'Montpellier',
 'Bordeaux',
 'Fort-de-France',
 'Limoges',
 'Poitiers']

In [111]:
# villes.clear()  : tout effacer
villes.remove('Bordeaux')
villes

['Toulouse',
 'Bayonne',
 'Paris',
 'Montpellier',
 'Fort-de-France',
 'Limoges',
 'Poitiers']

In [113]:
villes[2:5] = []

In [114]:
villes

['Toulouse', 'Bayonne', 'Limoges', 'Poitiers']

In [116]:
villes[1:2] = ['Biarritz', 'Anglet', 'Bidart']
villes

['Toulouse', 'Biarritz', 'Anglet', 'Bidart', 'Limoges', 'Poitiers']

In [118]:
villes[2:2] = ['Bayonne', 'Hendaye']
villes

['Toulouse',
 'Biarritz',
 'Bayonne',
 'Hendaye',
 'Anglet',
 'Bidart',
 'Limoges',
 'Poitiers']

In [119]:
villeT = 'Toulouse', 31000, 400000, 'Jean-Luc Moudenc'
villeT

('Toulouse', 31000, 400000, 'Jean-Luc Moudenc')

In [126]:
(1,)

(1,)

In [127]:
villes + ['Londres', 'New-York']

['Toulouse',
 'Biarritz',
 'Bayonne',
 'Hendaye',
 'Anglet',
 'Bidart',
 'Limoges',
 'Poitiers',
 'Londres',
 'New-York']

In [128]:
villes += ['Londres', 'New-York']
villes

['Toulouse',
 'Biarritz',
 'Bayonne',
 'Hendaye',
 'Anglet',
 'Bidart',
 'Limoges',
 'Poitiers',
 'Londres',
 'New-York']

In [129]:
villeT += (110000,)
villeT

('Toulouse', 31000, 400000, 'Jean-Luc Moudenc', 110000)

In [187]:
for ville in villes:
    print('Ville', ville, sep=' -> ')

Ville -> Toulouse
Ville -> Biarritz
Ville -> Bayonne
Ville -> Hendaye
Ville -> Anglet
Ville -> Bidart
Ville -> Limoges
Ville -> Poitiers
Ville -> Londres
Ville -> New-York

In [131]:
for caracteristique in villeT:
    print(caracteristique)

Toulouse
31000
400000
Jean-Luc Moudenc
110000

In [136]:
for i in range(10):
    print(i)
print('Toto')

0
1
2
3
4
5
6
7
8
9
Toto

In [137]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [139]:
list('Toulouse')

['T', 'o', 'u', 'l', 'o', 'u', 's', 'e']

In [143]:
# la liste des villes en majuscule
villesM = []
for ville in villes:
    villesM.append(ville.upper())
villesM

['TOULOUSE',
 'BIARRITZ',
 'BAYONNE',
 'HENDAYE',
 'ANGLET',
 'BIDART',
 'LIMOGES',
 'POITIERS',
 'LONDRES',
 'NEW-YORK']

In [145]:
# list comprehension
villesM = [ ville.upper() for ville in villes ]
villesM

['TOULOUSE',
 'BIARRITZ',
 'BAYONNE',
 'HENDAYE',
 'ANGLET',
 'BIDART',
 'LIMOGES',
 'POITIERS',
 'LONDRES',
 'NEW-YORK']

In [147]:
[ len(ville)  for ville in villes ]

[8, 8, 7, 7, 6, 6, 7, 8, 7, 8]

In [149]:
list(map(len, villes))

[8, 8, 7, 7, 6, 6, 7, 8, 7, 8]

In [157]:
# expression for (generator)
g = (len(ville)  for ville in villes)
g

In [150]:
map(len, villes)

In [152]:
min(map(len, villes))

6

In [156]:
min(len(ville)  for ville in villes)

6

In [173]:
any(len(ville)==6  for ville in villes)

True

In [174]:
all(len(ville)==6  for ville in villes)

False

In [175]:
all(len(ville)>=6  for ville in villes)

True

In [177]:
res = False
for ville in villes:
    if len(ville) == 6:
        res = True
        break
res

True

In [181]:
sum((len(ville)  for ville in villes), 10)

82

In [190]:
mean(len(ville)  for ville in villes)

7.2

### dictionnary : dict

In [193]:
villeD = {'nom':'Toulouse', 'cp':31000, 'pop':400000, 'maire':'Jean-Luc Moudenc'}
villeD

{'nom': 'Toulouse', 'cp': 31000, 'pop': 400000, 'maire': 'Jean-Luc Moudenc'}

In [194]:
villeD['nom']

'Toulouse'

In [197]:
villeD['maire'] = 'Xavier'
villeD

{'nom': 'Toulouse', 'cp': 31000, 'pop': 400000, 'maire': 'Xavier'}

In [198]:
villeD['aire'] = 110000
villeD

{'nom': 'Toulouse',
 'cp': 31000,
 'pop': 400000,
 'maire': 'Xavier',
 'aire': 110000}

In [199]:
del villeD['maire']
villeD

{'nom': 'Toulouse', 'cp': 31000, 'pop': 400000, 'aire': 110000}

In [201]:
# supprime la variable ville2
del ville2

In [203]:
for key in villeD.keys():
    print(key)

nom
cp
pop
aire

In [204]:
for value in villeD.values():
    print(value)

Toulouse
31000
400000
110000

In [205]:
for key, value in villeD.items():
    print(key, value, sep=' -> ')

nom -> Toulouse
cp -> 31000
pop -> 400000
aire -> 110000

In [206]:
'maire' in villeD

False

In [207]:
'Bidart' in villes

True

In [208]:
'Bidart' not in villes

False

In [209]:
villes

['Toulouse',
 'Biarritz',
 'Bayonne',
 'Hendaye',
 'Anglet',
 'Bidart',
 'Limoges',
 'Poitiers',
 'Londres',
 'New-York']

In [211]:
villes2 = villes
villes2

['Toulouse',
 'Biarritz',
 'Bayonne',
 'Hendaye',
 'Anglet',
 'Bidart',
 'Limoges',
 'Poitiers',
 'Londres',
 'New-York']

In [212]:
villes3 = ['Toulouse',
 'Biarritz',
 'Bayonne',
 'Hendaye',
 'Anglet',
 'Bidart',
 'Limoges',
 'Poitiers',
 'Londres',
 'New-York']
villes3

['Toulouse',
 'Biarritz',
 'Bayonne',
 'Hendaye',
 'Anglet',
 'Bidart',
 'Limoges',
 'Poitiers',
 'Londres',
 'New-York']

In [215]:
villes == villes2, villes == villes3

(True, True)

In [216]:
villes is villes2, villes is villes3

(True, False)

In [217]:
id(villes), id(villes2), id(villes3)

(2185915604616, 2185915604616, 2185914047688)

In [218]:
villes.append('Pau')

In [221]:
villes3

['Toulouse',
 'Biarritz',
 'Bayonne',
 'Hendaye',
 'Anglet',
 'Bidart',
 'Limoges',
 'Poitiers',
 'Londres',
 'New-York']

## Structures de contrôles : autres boucles, conditionnelles

In [226]:
for i, ville in enumerate(villes, 1):
    print(i, ville, sep=' : ')

1 : Toulouse
2 : Biarritz
3 : Bayonne
4 : Hendaye
5 : Anglet
6 : Bidart
7 : Limoges
8 : Poitiers
9 : Londres
10 : New-York
11 : Pau

In [227]:
temperatures = (12, 34, 23, 5, 6, 26, 13, 16, 9, 8, 11)
temperatures

(12, 34, 23, 5, 6, 26, 13, 16, 9, 8, 11)

In [229]:
for v,t in zip(villes, temperatures):
    print(v,':',t,'°C')

Toulouse : 12 °C
Biarritz : 34 °C
Bayonne : 23 °C
Hendaye : 5 °C
Anglet : 6 °C
Bidart : 26 °C
Limoges : 13 °C
Poitiers : 16 °C
Londres : 9 °C
New-York : 8 °C
Pau : 11 °C

In [231]:
### Exemple de boucle while : algo Euclide
a = 100
b = 45

r = a % b
while r!=0:
    a, b = b, r
    r = a % b
print('pgcd:', b)

pgcd: 5

In [234]:
if villeD['pop'] > 100000:
    print('grande ville')
elif villeD['pop'] > 50000:
    print('ville moyenne')
else:
    print('petite ville')

grande ville

In [235]:
if 50000 < villeD['pop']  < 100000:
    print('ville moyenne')

In [236]:
'G' if villeD['pop'] > 100000 else 'P'

'G'

In [239]:
[ ville.upper() for ville in villes if ville[0]=='B' ]

['BIARRITZ', 'BAYONNE', 'BIDART']

## fonctions

In [241]:
def f(x):
    return 2*x**2 + 1

In [242]:
f(3)

19

In [243]:
f(3.5)

25.5

In [245]:
def codeVille(ville):
    return ville[:3].upper()

In [248]:
def codeVille(ville, l):
    return ville[:l].upper()

In [251]:
def codeVille(ville, l=3):
    return ville[:l].upper()

In [252]:
codeVille('Toulouse',4)

'TOUL'

In [254]:
codeVille('Toulouse',l=4)

'TOUL'

In [253]:
[ codeVille(ville) for ville in villes ]

['TOU', 'BIA', 'BAY', 'HEN', 'ANG', 'BID', 'LIM', 'POI', 'LON', 'NEW', 'PAU']

In [255]:
import pandas as pd

In [256]:
pd.read_csv?